<div class="main-content">
  <div class="container-fluid">
      <div class="row">
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Tambah Buku</h4>
                      <p class="card-category">Isi form berikut untuk menambahkan buku</p>
                  </div>
                  <div class="card-body">
                      <form>
                            <div class="row">
                                    <div class="col-md-10">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Judul Buku" type="text" #judul>
                                      </mat-form-field>
                                    </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-10">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Penerbit Buku" type="text" #penerbit>
                                              </mat-form-field>
                                            </div>
                                        </div>
                                            <div class="row">
                                                    <div class="col-md-10">
                                                      <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Pengarang Buku" type="text" #pengarang>
                                                      </mat-form-field>
                                                    </div>
                                                </div>
                                                    <div class="row">
                                                            <div class="col-md-3">
                                                              <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Tahun Terbit" type="text" #terbit>
                                                              </mat-form-field>
                                                            </div>
                                                        </div>
                              
      
                          <button (click)="doPOST(judul.value,penerbit.value,pengarang.value,terbit.value)" class="btn btn-danger pull-left" >Tambah Buku</button>
                          <button class="btn btn-dark" routerLink="../buku">Kembali</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
</div>
      </div>
  </div>
</div>
